:root {
  --blue: #364f6b;
  --lightblue: #3fc1c9;
  --grey: #f5f5f5;
  --pink: #fc5185;
}
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
html {
  background-color: var(--grey);
}
body {
  width: 98%;
  color: white;
  margin: 0rem auto;
  overflow-x: hidden;
}
header {
  background-image: url(bg.jpg),
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 100vh;
}
header div {
  position: relative;
  top: 45%;
  margin: 0rem auto;
  font-size: 5rem;
}
header div:hover {
  color: var(--lightblue);
}
nav {
  display: inline;
  position: relative;
  top: 50%;
  margin: auto;
}
header ul {
  display: inline;
  list-style: none;
}
header li {
  display: inline;
  padding: 1rem;
}
a {
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
}
a:hover {
  color: var(--blue);
  background-color: white;
  border: #fc5185 0.3rem solid;
}
.div-container {
  background-image: url(bg2.jpg),
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-position: 0%;
  background-size: cover;
  width: 100%;
  text-align: center;
  height: 100vh;
}
